.DS_Store
*.pyc
*.exe
venv/lib/python3.7/site-packages/setuptools-41.2.0.dist-info/zip-safe
*.xml
*.tmpl
*.fish
venv/bin/pip
venv/bin/python
venv/lib/python3.7/site-packages/pip-21.1.1.dist-info/INSTALLER
venv/bin/python3
venv/lib/python3.7/site-packages/pip-21.1.1.dist-info/RECORD
*.pem
*.cfg
venv/lib/python3.7/site-packages/setuptools-41.2.0.dist-info/LICENSE
venv/lib/python3.7/site-packages/setuptools-41.2.0.dist-info/RECORD
venv/lib64
venv/lib/python3.7/site-packages/setuptools-41.2.0.dist-info/METADATA
venv/bin/activate
venv/bin/easy_install
*.7
venv/bin/pip3
*.csh
*.json
